*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb

.vs/
x64/
Debug/
Release/
optimizer/.vs/
optimizer/x64/
optimizer/Debug/
optimizer/Release/
output/
resources/
data/intermediate/
/obj
/external
/Makefile
/TerrainRL
/TerrainRL_Optimizer
/TerrainRL_Optimizer.make
/TerrainRL.make
/lib
